<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>TRYING DEPOSIT</h1>

<!--<form action="#" th:action="@{/deposit}" th:object="${user}" method="post">-->
    <!--<p>Enter balance you wish: <input type="number" th:field="*{balance}" /></p>-->
    <!--<p th:text="'Your current balance is: ' + *{email}" />-->
    <!--<p>Your currnet balance is: <input type="email" th:field="*{email}" /></p>-->
    <!--<p>Your currnet balance is: <input type="number" th:field="*{balance}" /></p>-->
    <!--<p th:text="'Hello, ' + *{user.email}" />-->
<!--</form>-->

<p th:text="'Hello, ' + ${user.email}" />


</body>
</html>