<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>TRYING DEPOSIT</h1>
<!--<p th:text="'Your cash balance is ' + ${deposit.bal}" />-->
<form th:action="@{/deposit}" method="get">
    <!--<p th:text="'Your cash balance is ' + ${deposit.bal}" />-->
    <!--<input th:type="submit" th:name="Kautkas" th:value="kkkkk">-->
</form>

</body>
</html>